<div class="border">
  <h2 class="text-center fs-1">Our Users</h2>
  <h6 class="text-center">
    *The green tasks are completed, Hurry up for the red tasks!
  </h6>
</div>

<div class="d-flex flex-wrap">
  <div
    class="col-12 col-lg-6 card d-flex justify-content-between align-items-center bg-transparent border-2 border-dark"
    *ngFor="let user of users"
  >
    <div class="card-body d-flex align-items-center w-100">
      <div class="d-flex align-items-center">
        <img
          src="{{ user.image }}"
          alt="userImg"
          class="rounded-circle border border-dark img-fluid"
        />
      </div>
      <div
        class="d-flex flex-column justify-content-end align-items-center w-100"
      >
        <div class="d-flex">
          <h5 class="card-title fw-bolder fs-3 me-5">
            {{ user.firstName }} {{ user.lastName }}
          </h5>
          <div>
            <h6 class="text-primary fw-semibold">email: {{ user.email }}</h6>
            <h6 class="text-primary fw-semibold">Title: {{ user.title }}</h6>
          </div>
        </div>
        <ul class="list-group list-group-numbered">
          <li
            class="list-group-item bg-transparent fw-bold fs-5"
            *ngFor="let todo of getUserTodos(user.id); let i = index"
          >
            <span class="text-success" *ngIf="todo.completed">{{
              todo.todo
            }}</span>
            <span class="text-danger" *ngIf="!todo.completed">{{
              todo.todo
            }}</span>
          </li>

          <!-- Se non ci sono todo, mostra "no task" -->
          <li
            class="text-center fw-semibold"
            *ngIf="getUserTodos(user.id).length === 0"
          >
            Sorry, No task from this User :(
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
