.check-container {
  height: 100%;
  width: 100%;
  max-width: 50px;
}

/* Stile della checkbox per renderla quadrata e occupare tutto lo spazio */
.custom-checkbox {
  width: 90%;
  height: 90%;
  cursor: pointer;
}

.userImg {
  width: 5%;
}
